@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url(../pacote-projeto-d010/fontes/idroid.otf) format('opentype');
}

:root {
    --cor1: #CFFFE6;
    --cor2: #098042;
    --cor3: #12FF84;
    --cor4: #0d4126;
    --cor5: #0ECC69;
    --fontparagrafo: arial
}

* {
    margin: 0;
}

body {
    background-color: rgb(241, 224, 183);
}

p {
    font-family: var(--fontparagrafo);
}

header {
    padding: 5px;
    background-color: var(--cor5);
    box-shadow: inset 5px -80px 120px rgba(0, 0, 0, 0.442);
    text-align: center;
    color: white;
}

header h1 {
    margin: 15px;
    font-family: 'Bebas Neue';
    font-size: 3em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.512);
}

nav {
    background-color: var(--cor5);
    min-width: 300px;
    max-width: 4000px;
    color: white;
    box-shadow: inset 5px -80px 120px rgba(0, 0, 0, 0.442);
}

nav li {
    font-size: 16px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.393);
    transition: 0.5s;
    padding-top: 10px;
}

nav li:hover {
    color: #00000089;
    padding: 2px;
    text-shadow: 1px 1px 2px var(--cor4);
    background-color: var(--cor5);
    border-radius: 5px;
}


#container-list ul {
    display: inline-flex;
}

#container-list ul li {
    margin-right: 20px;

}

main {
    padding: 15px;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.401);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

main article div.container-imagens {
    min-width: 250px;
    max-width: 800px;
    text-align: center;
    margin: auto;
}

.subtitulo-decorado {
    background-image: linear-gradient(120deg, var(--cor5), var(--cor3), var(--cor1));
    padding: 2px;
}

main h2 {
    font-family: 'idroid';
    color: var(--cor4);
}

main p {
    margin: 20px;
    text-indent: 30px;
    line-height: 2em;
}

#container-video {
    background-color: var(--cor4);
    padding: 20px;
    padding-bottom: 59%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.424);
    position: relative;
    display: flex;
    justify-content: center;
}

#container-video iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
}

div#container-titulo-lista {
    padding: 5px;
    margin-top: 50px;
    background-color: var(--cor2);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.406);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
    height: 50px;
}

aside {
    padding: 10px;
    margin-top: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--cor3);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.406);
}

aside ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
}

main article p strong {
    color: var(--cor4);
}

main article mark {
    padding: 2px;
    background-color: var(--cor3);
}

main article mark a {
    text-decoration: none;
    color: var(--cor4);
    transition: 0.2s;
}

main article mark a:hover {
    text-decoration: underline;
}

aside p strong {
    color: var(--cor4);
}

footer {
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    background-color: var(--cor4);
    color: white;
}